<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>HTML5 Refrence</title>
    <link rel="stylesheet" type="text/css" href="../css/main.css">

    <!-- jQuery -->    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- custom script -->
    <script src="../js/main.js"></script>
  <style>
    .text-center{
      text-align:center;
    }

    /*.tag-btn-info {
      color:#fff;
      background-color:#5bc0de;
      border-color:#46b8da;
      border-radius: 10px;
      cursor:pointer;
      font-size:15px;
      width: 88%;
      margin: 5%;
      height:85%;
    }

    .tag-table{
      border-style:double;
      border-width:10px;
      border-color:#46b8da;
      width:96%;
      height:30%;
      margin:2%;
      min-height:200px;
    }
    th,td, tr{
      height:33%;
      text-align: center;
    }*/
  </style>
</head>
<body>
<!-- Modals -->
<section id="loginModal" class="modal" style="display: none;">
    <div class="modalHeader">
        <a class="exit" href="#">Exit</a>
        <h4 class="modalTitle">Login</h4>
    </div>
    <div class="modalBody">
        <label for="eml" class="mdlLabl">Email</label>
        <br>
        <input class="txtin" type="email" id="eml" name="email">
        <br>
        <label for="passwd" class="mdlLabl">Password</label>
        <br>
        <input class="txtin" type="password" id="passwd" name="password">
        <br>
        <label for="rememb" class="mdlLabl">Remember me: </label>
        <input type="checkbox" id="rememb" name="rememberMe">
    </div>
    <div class="modalFooter">
        <button type="button" id="signin">Sign in</button>
        <a class="forgot" href="#forgotPasswd">Forgot password</a>
        <a class="createAcc" href="#createAccount">Create Account</a>
    </div>
</section>

<section id="forgotPasswd" class="modal" style="display: none;">
    <div class="modalHeader">
        <a class="exit" href="#">Exit</a>
        <h4 class="modalTitle">Forgot Password</h4>
    </div>
    <div class="modalBody">
        <label for="eml" class="mdlLabl">Email</label>
        <br>
        <input class="txtin" type="email" id="eml" name="email">
        <br>
        <!-- Going to display security question here -->
        <label for="passwd" class="mdlLabl">Answer to Security Question</label>
        <br>
        <input class="txtin" type="text" id="passwd" name="password">
        <br>
    </div>
    <div class="modalFooter">
        <button type="button" id="sendpasswd">Send Email</button>
        <a class="backToLogin" href="#loginModal">Back to Login</a>
        <a class="createAcc" href="#createAccount">Create Account</a>
    </div>
</section>

<section id="createAccount" class="modal" style="display: none;">
    <div class="modalHeader">
        <a class="exit" href="#">Exit</a>
        <h4 class="modalTitle">Create Account</h4>
    </div>
    <div class="modalBody">
        <label for="eml" class="mdlLabl">Email</label>
        <br>
        <input class="txtin" type="email" id="eml" name="email">
        <br>
        <label for="passwd" class="mdlLabl">Password</label>
        <br>
        <input class="txtin" type="password" id="passwd" name="password">
        <br>
        <label for="secQues" class="mdlLabl">Security Question</label>
        <br>
        <input class="txtin" type="text" id="secQues" name="securityQuestion">
        <br>
        <label for="secAns" class="mdlLabl">Answer to your security question</label>
        <br>
        <input class="txtin" type="text" id="secAns" name="securityAnswer">
    </div>
    <div class="modalFooter">
        <button type="button" id="newAcc">Create Account</button>
        <a class="backToLogin" href="#loginModal">Back to Login</a>
        <a class="forgot" href="#forgotPasswd">Forgot password</a>
    </div>
</section>

<section id="contactUs" class="modal" style="display: none;">
    <div class="modalHeader">
        <a class="exit" href="#">Exit</a>
        <h4 class="modalTitle">Contact Us</h4>
    </div>
    <div class="modalBody">
        <label for="name" class="mdlLabl"> Name :</label>
        <input type="text" id="name" class="txtin" placeholder="Name" required>
        <br>
        <label for="email" class="mdlLabl">Email :</label>
        <input type="text" id="email" class="txtin" placeholder="Email" required>
        <br>
        <label for="message" class="mdlLabl"> Message :</label>
        <textarea id="message" placeholder="Message"></textarea>
    </div>
    <div class="modalFooter">
        <button type="button" id="sendContact">Send</button>
    </div>
</section>

<!-- Page title-->
<header class="mainHeader">

    <div class="topNavWrapper">
        <div class="topNav">
        <a class="login" href=#>Login</a>
        <a href="#" id="menuToggle">  Menu </a>
            <div class="clear"></div>
            <nav class="mainNav">

                <div class="mainNavWrapper">
                    <img src="../img/logo.jpg" alt="Brand" class="logo" width="10%">
                    <ul>
                        <li class="active" title="Switch to learn mode"><a href="educational.html">Learn</a></li>
                        
                        <li title="Switch to reference mode"><a href="index.html">Reference</a></li>
                        <li title="Show all tags"><a href="tags-page-showall-custom.html">All</a></li>
                        <li title="Show favorite tags"><a href="tags-page-favorite-custom.html">Favorites</a></li>
                        <li title="Contact Us"><a class="contactUs" href="#">Contact us</a></li>
                    </ul>

                    <ul class="rightNav">
                        <li class ="hasInput"><form id="srch" method="post">
                            <input type="text" id="searchBar" placeholder="search"></input>
                        </form></li>
                        <li>
                            <select id="searchType" required>
                                <option selected value="tag">By Tag</option>
                                <option value="attribute">By Attribute</option>
                            </select>
                        </li>
                    </ul>
                </div>
            </nav>
             
        </div>
        
    </div>

</header>
<div style="margin-top: 120px;"></div>
<main>
  <h3 class="pageTitle">Forms and Input</h3>
  <section class="homectgs">
    <section class="ulwrapper">
      <ul class="ctgs">
        <li ><a data-name="form" href="#" style="display: block;height: 100%;width: 100%;" class="tagLink">&lt;form&gt;</a></li>
        <li ><a data-name="input" href="tag-page.html" class="tagLink">&lt;input&gt;</a></li>
        <li ><a data-name="textarea" href="#" class="tagLink">&lt;textarea&gt;</a></li>
        <li ><a data-name="button" href="#" class="tagLink">&lt;button&gt;</a></li>
        <li ><a data-name="select" href="#" class="tagLink">&lt;select&gt;</a></li>
        <li ><a data-name="optgroup" href="#" class="tagLink">&lt;optgroup&gt;</a></li> 
        <li ><a data-name="option" href="#" class="tagLink">&lt;option&gt;</a></li>
        <li ><a data-name="label" href="#" class="tagLink">&lt;label&gt;</a></li>
        <li ><a data-name="fieldset" href="#" class="tagLink">&lt;fieldset&gt;</a></li>
        <li ><a data-name="legend" href="#" class="tagLink">&lt;legend&gt;</a></li>
        <li ><a data-name="datalist" href="#" class="tagLink">&lt;datalist&gt;</a></li>
        <li ><a data-name="output" href="#" class="tagLink">&lt;output&gt;</a></li>
      </ul>
      <div class="clear"></div>
    </section>
  </section>
</main>
<footer class="mainFooter">
  <section class = "copyRight"> 
    <ul >
      <li><a href="#">Terms of use</a></li>
      <li><a href="#">Privacy Policy</a></li>
      <li><a href="#">Cookies policy</a></li>
    </ul>
    <p>&copy; 2015. All rights reserved.</p>
  </section>
    
</footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script type="text/javascript">
  $(document).ready(function() {
    $("#menuToggle").click(function(){
        $(".mainNavWrapper ul").slideToggle(); 
        //animate({width: 'toggle'});
    });
  });
  </script>
</body>
</html>