<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>HTML5 Reference</title>
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1.0, initial-scale=1" />

    <!-- jQuery -->    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- Firebase -->
    <script src="https://cdn.firebase.com/js/client/2.2.7/firebase.js"></script>

    <!-- Custom library for parsing query strings easily -->
    <script id="purl" src="../js/purl.js"></script>

    <!-- custom script -->
    <!-- <script src="../js/main.js"></script> -->

    <script>
        //populate the page based on query string

        //get firebase ref.
        var databaseRef = new Firebase("https://cse134.firebaseio.com/");

        

    </script>
</head>
<body>

<!-- Modals -->
<section id="loginModal" class="modal" style="display: none;">
    <div class="modalHeader">
        <a class="exit" href="#">Exit</a>
        <h4 class="modalTitle">Login</h4>
    </div>
    <div class="modalBody">
        <label for="eml" class="mdlLabl">Email</label>
        <br>
        <input class="txtin" type="email" id="eml" name="email">
        <br>
        <label for="passwd" class="mdlLabl">Password</label>
        <br>
        <input class="txtin" type="password" id="passwd" name="password">
        <br>
        <label for="rememb" class="mdlLabl">Remember me: </label>
        <input type="checkbox" id="rememb" name="rememberMe">
    </div>
    <div class="modalFooter">
        <button type="button" id="signin">Sign in</button>
        <a class="forgot" href="#forgotPasswd">Forgot password</a>
        <a class="createAcc" href="#createAccount">Create Account</a>
    </div>
</section>

<section id="forgotPasswd" class="modal" style="display: none;">
    <div class="modalHeader">
        <a class="exit" href="#">Exit</a>
        <h4 class="modalTitle">Forgot Password</h4>
    </div>
    <div class="modalBody">
        <label for="eml" class="mdlLabl">Email</label>
        <br>
        <input class="txtin" type="email" id="eml" name="email">
        <br>
        <!-- Going to display security question here -->
        <label for="passwd" class="mdlLabl">Answer to Security Question</label>
        <br>
        <input class="txtin" type="text" id="passwd" name="password">
        <br>
    </div>
    <div class="modalFooter">
        <button type="button" id="sendpasswd">Send Email</button>
        <a class="backToLogin" href="#loginModal">Back to Login</a>
        <a class="createAcc" href="#createAccount">Create Account</a>
    </div>
</section>

<section id="createAccount" class="modal" style="display: none;">
    <div class="modalHeader">
        <a class="exit" href="#">Exit</a>
        <h4 class="modalTitle">Create Account</h4>
    </div>
    <div class="modalBody">
        <label for="eml" class="mdlLabl">Email</label>
        <br>
        <input class="txtin" type="email" id="eml" name="email">
        <br>
        <label for="passwd" class="mdlLabl">Password</label>
        <br>
        <input class="txtin" type="password" id="passwd" name="password">
        <br>
        <label for="secQues" class="mdlLabl">Security Question</label>
        <br>
        <input class="txtin" type="text" id="secQues" name="securityQuestion">
        <br>
        <label for="secAns" class="mdlLabl">Answer to your security question</label>
        <br>
        <input class="txtin" type="text" id="secAns" name="securityAnswer">
    </div>
    <div class="modalFooter">
        <button type="button" id="newAcc">Create Account</button>
        <a class="backToLogin" href="#loginModal">Back to Login</a>
        <a class="forgot" href="#forgotPasswd">Forgot password</a>
    </div>
</section>

<!-- Page title-->
<header class="mainHeader">

    <div class="topNavWrapper">
        <div class="topNav">
        <a class="login" href=#>Login</a>
        <a href="#" id="menuToggle">  Menu </a>
            <div class="clear"></div>
            <nav class="mainNav">

                <div class="mainNavWrapper">
                    <a href="#"><img src="../img/logo.jpg" alt="Brand" class="logo" width="10%"></a>
                    <ul>
                        <li class="active" title="Switch to learn mode"><a href="educational.html">Learn</a></li>
                        
                        <li><a href="#">Reference</a></li>
                        <li><a href="#">Forum</a></li>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Contact us</a></li>
                        <li><a href="tags-page-showall-custom.html">All</a></li>
                        <li><a href="tags-page-favorite-custom.html">Favorites</a></li>
                    </ul>

                    <ul class="rightNav">
                        <li class ="hasInput"><form id="srch" method="post" action="search.html?str=bbb" >
                            <input type="text" id="searchBar" placeholder="search"></input>
                        </form></li>
                    </ul>
                </div>
            </nav>
             
        </div>
        
    </div>

</header>
<div class="clear"></div>

<main> <!-- unordered list of search results -->
    <ul>
        <!-- Search results will be dynamically generated here -->
    </ul>
</main>