<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>HTML5 Reference</title>
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1.0, initial-scale=1" />

    <!-- jQuery -->    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- Firebase -->
    <script src="https://cdn.firebase.com/js/client/2.2.7/firebase.js"></script>

    <!-- Custom library for parsing query strings easily -->
    <script id="purl" src="../js/purl.js"></script>

    <!-- custom script -->
    <script src="../js/main.js"></script>

    <script>
        //populate the page based on query string

        //get firebase ref.
        var databaseRef = new Firebase("https://cse134.firebaseio.com/");

        //get query string
        var searchStr = $.url().param('str');


        //two checks are for if you search by tag with braces around
        //if first character is left angle brace, remove
        if (searchStr[0] == "<") {
            searchStr = searchStr.substring(1);
            console.log(searchStr);
        }

        //if last character is right angle brace, remove
        if (searchStr[searchStr.length-1] == ">") {
            searchStr = searchStr.substring(0, searchStr.length-1);
            console.log(searchStr);
        }


        //get type of search
        var searchType = $.url().param('type');

        //variable that keeps track of how many results were found
        var resCount = 0;

        //search firebase tags        
        databaseRef.once("value", function(snapshot) {
            //check what type of search we are doing
            if (searchType == 'tag') {
                console.log(snapshot.val().tags);
                for (var ss in snapshot.val().tags) {
                    console.log(ss);
                    if( ss == searchStr) {
                        //found a result. Create list item
                        var el = document.createElement('li');
                        var anchor = document.createElement('a');
                        anchor.href = "tag-page.html?tag=" + searchStr;
                        anchor.className = "searchName";
                        anchor.innerHTML = "&lt;" + searchStr + "&gt;";

                        //create a 'p' tag that holds the definition
                        var def = document.createElement('p');
                        def.className = 'searchDef';
                        def.innerHTML = snapshot.val()['tags'][ss]['tagDefenition'];

                        //attach the tag name first, definition next
                        el.appendChild(anchor);
                        el.appendChild(def);

                        //attach the list element to the list
                        document.getElementById('results').appendChild(el);
                        document.getElementById('results').appendChild(document.createElement('hr'));
                        resCount++;
                    }
                }

                if (resCount == 0) {
                    //if loop ends but no results were found
                    var el = document.createElement('p');
                    el.innerHTML = "No results found! Did you search by the right criteria?";

                    //attach to tree
                    document.getElementById('results').appendChild(el);
                }
                //if the user was searching by attribute...
            } else if (searchType == 'attribute') {
                //loop through all atributes
                for (var att in snapshot.val().attributes) {
                    console.log(att);
                    if( att == searchStr) {
                        //found a result. Loop through all tags attached to attribute
                        for (var tg in snapshot.val().attributes[searchStr]) {
                            var el = document.createElement('li');
                            var anchor = document.createElement('a');
                            anchor.href = "tag-page.html?tag=" + snapshot.val().attributes[searchStr][tg];
                            anchor.className = "searchName";
                            anchor.innerHTML = snapshot.val().attributes[searchStr][tg];

                            //create a 'p' tag that holds the definition
                            var def = document.createElement('p');
                            def.className = 'searchDef';
                            def.innerHTML = snapshot.val()['tags'][snapshot.val().attributes[searchStr][tg]]['tagDefenition'];

                            //attach the tag name first, definition next
                            el.appendChild(anchor);
                            el.appendChild(def);
                            document.getElementById('results').appendChild(el);
                            document.getElementById('results').appendChild(document.createElement('hr'));
                            resCount++;
                        }
                    }
                }
                //if no results were found
                if (resCount == 0) {
                    //if loop ends but no results were found
                    var el = document.createElement('p');
                    el.innerHTML = "No results found! Did you search by the right criteria?";

                    //attach to tree
                    document.getElementById('results').appendChild(el);
                }
            }
        });
    </script>
</head>
<body>

<!-- Modals -->
<section id="loginModal" class="modal" style="display: none;">
    <div class="modalHeader">
        <a class="exit" href="#">Exit</a>
        <h4 class="modalTitle">Login</h4>
    </div>
    <div class="modalBody">
        <label for="eml" class="mdlLabl">Email</label>
        <br>
        <input class="txtin" type="email" id="eml" name="email">
        <br>
        <label for="passwd" class="mdlLabl">Password</label>
        <br>
        <input class="txtin" type="password" id="passwd" name="password">
        <br>
        <label for="rememb" class="mdlLabl">Remember me: </label>
        <input type="checkbox" id="rememb" name="rememberMe">
    </div>
    <div class="modalFooter">
        <button type="button" id="signin">Sign in</button>
        <a class="forgot" href="#forgotPasswd">Forgot password</a>
        <a class="createAcc" href="#createAccount">Create Account</a>
    </div>
</section>

<section id="forgotPasswd" class="modal" style="display: none;">
    <div class="modalHeader">
        <a class="exit" href="#">Exit</a>
        <h4 class="modalTitle">Forgot Password</h4>
    </div>
    <div class="modalBody">
        <label for="eml" class="mdlLabl">Email</label>
        <br>
        <input class="txtin" type="email" id="eml" name="email">
        <br>
        <!-- Going to display security question here -->
        <label for="passwd" class="mdlLabl">Answer to Security Question</label>
        <br>
        <input class="txtin" type="text" id="passwd" name="password">
        <br>
    </div>
    <div class="modalFooter">
        <button type="button" id="sendpasswd">Send Email</button>
        <a class="backToLogin" href="#loginModal">Back to Login</a>
        <a class="createAcc" href="#createAccount">Create Account</a>
    </div>
</section>

<section id="createAccount" class="modal" style="display: none;">
    <div class="modalHeader">
        <a class="exit" href="#">Exit</a>
        <h4 class="modalTitle">Create Account</h4>
    </div>
    <div class="modalBody">
        <label for="eml" class="mdlLabl">Email</label>
        <br>
        <input class="txtin" type="email" id="eml" name="email">
        <br>
        <label for="passwd" class="mdlLabl">Password</label>
        <br>
        <input class="txtin" type="password" id="passwd" name="password">
        <br>
        <label for="secQues" class="mdlLabl">Security Question</label>
        <br>
        <input class="txtin" type="text" id="secQues" name="securityQuestion">
        <br>
        <label for="secAns" class="mdlLabl">Answer to your security question</label>
        <br>
        <input class="txtin" type="text" id="secAns" name="securityAnswer">
    </div>
    <div class="modalFooter">
        <button type="button" id="newAcc">Create Account</button>
        <a class="backToLogin" href="#loginModal">Back to Login</a>
        <a class="forgot" href="#forgotPasswd">Forgot password</a>
    </div>
</section>

<section id="contactUs" class="modal" style="display: none;">
    <div class="modalHeader">
        <a class="exit" href="#">Exit</a>
        <h4 class="modalTitle">Contact Us</h4>
    </div>
    <div class="modalBody">
        <label for="name" class="mdlLabl"> Name :</label>
        <input type="text" id="name" class="txtin" placeholder="Name" required>
        <br>
        <label for="email" class="mdlLabl">Email :</label>
        <input type="text" id="email" class="txtin" placeholder="Email" required>
        <br>
        <label for="message" class="mdlLabl"> Message :</label>
        <textarea id="message" placeholder="Message"></textarea>
    </div>
    <div class="modalFooter">
        <button type="button" id="sendContact">Send</button>
    </div>
</section>

<!-- Page title-->
<header class="mainHeader">

    <div class="topNavWrapper">
        <div class="topNav">
        <a class="login" href=#>Login</a>
        <a href="#" id="menuToggle">  Menu </a>
            <div class="clear"></div>
            <nav class="mainNav">

                <div class="mainNavWrapper">
                    <img src="../img/logo.jpg" alt="Brand" class="logo" width="10%">
                    <ul>
                        <li class="active" title="Switch to learn mode"><a href="educational.html">Learn</a></li>
                        
                        <li title="Switch to reference mode"><a href="index.html">Reference</a></li>
                        <li title="Show all tags"><a href="tags-page-showall-custom.html">All</a></li>
                        <li title="Show favorite tags"><a href="tags-page-favorite-custom.html">Favorites</a></li>
                        <li title="Contact Us"><a class="contactUs" href="#">Contact us</a></li>
                    </ul>

                    <ul class="rightNav">
                        <li class ="hasInput"><form id="srch" method="post">
                            <input type="text" id="searchBar" placeholder="search"></input>
                            <select style="display:none;" id="catSelect">
                                <option value="basic-html">Basic HTML</option>
                                <option value="formatting">Formatting</option>
                                <option value="forms-and-input">Forms and Input</option>
                                <option value="frames">Frames</option>
                                <option value="images">Images</option>
                                <option value="audio-video">Audio/Video</option>
                                <option value="links">Links</option>
                                <option value="lists">Lists</option>
                                <option value="tables">Tables</option>
                                <option value="styles-and-semantics">Styles and Semantics</option>
                                <option value="meta-info">Meta Info</option>
                                <option value="programming">Programming</option>
                            </select>
                            <button style="display: none;" id="catSrch" type="button" onclick="goToCategory()">Search</button>
                        </form></li>
                        <li>
                            <select id="searchType" required>
                                <option selected value="tag">By Tag</option>
                                <option value="attribute">By Attribute</option>
                                <option value="category">By Category</option>
                            </select>
                        </li>
                    </ul>
                </div>
            </nav>
             
        </div>
        
    </div>

</header>
<div style="margin-top: 120px;"></div>
<div class="clear"></div>

<main> <!-- unordered list of search results -->
    <ul id="results">
        <!-- Search results will be dynamically generated here -->
    </ul>
</main>