<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>Tag</title>
        <meta charset="utf-8">
        <meta name="author" content="earlyBird">
        
        <link rel="stylesheet" href="../css/main.css">
        
        <!-- jQuery -->    
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    
        <!-- Firebase -->
        <script src="https://cdn.firebase.com/js/client/2.2.7/firebase.js"></script>

        <script src="../js/main.js"></script>

        <!-- Custom library for parsing query strings easily -->
        <script id="purl" src="../js/purl.js"></script>

</head>
    <body id="tagBody" onload="init()">
    <!-- Modals -->
    <section id="loginModal" class="modal" style="display: none;">
        <div class="modalHeader">
            <a class="exit" href="#">Exit</a>
            <h4 class="modalTitle">Login</h4>
        </div>
        <div class="modalBody">
            <label for="eml" class="mdlLabl">Email</label>
            <br>
            <input class="txtin" type="email" id="eml" name="email">
            <br>
            <label for="passwd" class="mdlLabl">Password</label>
            <br>
            <input class="txtin" type="password" id="passwd" name="password">
            <br>
            <label for="rememb" class="mdlLabl">Remember me: </label>
            <input type="checkbox" id="rememb" name="rememberMe">
        </div>
        <div class="modalFooter">
            <button type="button" id="signin">Sign in</button>
            <a class="forgot" href="#forgotPasswd">Forgot password</a>
            <a class="createAcc" href="#createAccount">Create Account</a>
        </div>
    </section>

    <section id="forgotPasswd" class="modal" style="display: none;">
        <div class="modalHeader">
            <a class="exit" href="#">Exit</a>
            <h4 class="modalTitle">Forgot Password</h4>
        </div>
        <div class="modalBody">
            <label for="eml" class="mdlLabl">Email</label>
            <br>
            <input class="txtin" type="email" id="eml" name="email">
            <br>
            <!-- Going to display security question here -->
            <label for="passwd" class="mdlLabl">Answer to Security Question</label>
            <br>
            <input class="txtin" type="text" id="passwd" name="password">
            <br>
        </div>
        <div class="modalFooter">
            <button type="button" id="sendpasswd">Send Email</button>
            <a class="backToLogin" href="#loginModal">Back to Login</a>
            <a class="createAcc" href="#createAccount">Create Account</a>
        </div>
    </section>

    <section id="createAccount" class="modal" style="display: none;">
        <div class="modalHeader">
            <a class="exit" href="#">Exit</a>
            <h4 class="modalTitle">Create Account</h4>
        </div>
        <div class="modalBody">
            <label for="eml" class="mdlLabl">Email</label>
            <br>
            <input class="txtin" type="email" id="eml" name="email">
            <br>
            <label for="passwd" class="mdlLabl">Password</label>
            <br>
            <input class="txtin" type="password" id="passwd" name="password">
            <br>
            <label for="secQues" class="mdlLabl">Password</label>
            <br>
            <input class="txtin" type="text" id="secQues" name="securityQuestion">
            <br>
            <label for="secAns" class="mdlLabl">Password</label>
            <br>
            <input class="txtin" type="text" id="secAns" name="securityAnswer">
        </div>
        <div class="modalFooter">
            <button type="button" id="newAcc">Create Account</button>
            <a class="backToLogin" href="#loginModal">Back to Login</a>
            <a class="forgot" href="#forgotPasswd">Forgot password</a>
        </div>
    </section>
    <header class="mainHeader">

    <div class="topNavWrapper">
        <div class="topNav">
        <a href="#" id="menuToggle">  Menu </a>
            <ul class="rightNav">
                <li class ="hasInput"> <input type="text" placeholder="search"></li>
                <li><a class="login" href=#>Login</a></li>
            </ul>

            <div class="clear"></div>
            <nav class="mainNav">

                <div class="mainNavWrapper">
                    <a href="#"><img src="../img/logo.jpg" alt="Brand" class="logo" width="10%"></a>
                    <ul>
                        <li class="active" title="in the js version we will assing active class dynamiclaly "><a href="educational.html">Learn</a></li>
                        
                        <li><a href="#">Reference</a></li>
                        <li><a href="#">Forum</a></li>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Contact us</a></li>
                        <li><a href="tags-page-showall-custom.html">All</a></li>
                        <li><a href="tags-page-favorite-custom.html">favorit</a></li>
                        <li class="small"><a href="#"><input type="text" placeholder="search"></a></li>
                        <li class="small"><a class="login" href="#">Login</a></li>
                    </ul>
                </div>
            </nav>
             
        </div>
        
    </div>

</header>
<div class="clear"></div>
<section class="headerImg">
    <!---->
    <!---->
</section>
    <main>
                <h3 id="tagName">&lt;input&gt;</h3>
            
            <section id="definition" class="section">
                <div class="secHead">
                    <p>Definition</p>
                </div>
                <div class="secBody">
                    <p id="def">The &lt;input&gt; tag defines an input field where
                the user can enter data. This element is used inside the 
                &lt;form&gt; tag to provide interactive controls for user 
                data entry.</p>

                </div>
            </section>
            
            <section id="compatAttr" class="section">
                <div class="secHead">
                    Compatible Attributes
                </div>
                <div class="secBody">
                    <div id="accordion" role="tablist">
                        <ul id="attrTabs">
                            <li><a href="javascript:;" name="#type" class="attr">type</a></li>
                            <li><a href="javascript:;" name="#accept" class="attr">accept</a></li>
                            <li><a href="javascript:;" name="#autocap" class="attr">autocapitalize</a></li>
                        </ul>
                    </div>

                    <!-- The content for each tag is in its own <div> container -->
                    <!-- Adding 'hide' class to other contents to prevent them
                        from flashing -->
                    <div id="attributes">
                        <div class="tabContent" id="type">
                            <p>Specifies the type of input the user can enter,
                                    and provides the correct controls. This attribute
                                    can be numerous values.</p>
                        </div>
                        <div class="tabContent hide" id="accept">
                            <p>If input type is file, then this indicates what type of 
                            files are accepted by the server.</p>
                        </div>
                        <div class="tabContent hide" id="autocap">
                            <p>Nonstandard, used by iOS and Safari. Controls whether and 
                            how the data entered should be capitalized as it is entered 
                            by the user.</p>
                        </div>
                    </div>
                </div>
            </section>
            <section id="compatBrowsers" class="section">
                <div class="secHead">
                    Compatible Browsers
                </div>
                <div class="secBody">
                    <!-- The actual tabs are marked up as an unordered list -->
                    <ul id="tabs">
                        <li><a href="#chrome">
                            <img src="http://www.iconarchive.com/download/i59249/franksouza183/fs/Apps-google-chrome.ico" alt="google chrome"
                            height="100" width="100">
                            </a>
                        </li>
                        <li><a href="#firefox">
                            <img src="https://mozorg.cdn.mozilla.net/media/img/firefox/desktop/index/animations/firefox-logo.bee1d85af18f.png" 
                            alt="firefox" height="100" width="100">
                            </a>
                        </li>
                        <li><a href="#safari">
                            <img src="https://support.apple.com/library/content/dam/edam/applecare/images/en_US/mac_apps/safari/yosemite-safai_icon.png" 
                            alt="safari" height="100" width="100">
                            </a>
                        </li>
                        <li><a href="#internetExplorer">
                            <img src="https://pbs.twimg.com/profile_images/378800000859413957/H7zBWwEm.png" alt="Internet Explorer" height="100" 
                            width="100">                    
                            </a>
                        </li>
                        <li><a href="#opera">
                            <img src="http://img1.findthebest.com/sites/default/files/494/media/images/Opera_Web_Browser_60205.jpg" alt="Opera"
                             height="100" width="100">                  
                            </a>
                        </li>
                    </ul>
                                        
                    <!-- The content for each tag is in its own <div> container -->
                    <!-- Adding 'hide' class to other contents to prevent them
                        from flashing -->
                    <div class="tabContent" id="chrome">
                    	<p class="browserInfo">Supported since version <var>x</var></p>
                    </div>
                    <div class="tabContent hide" id="firefox">
                    	<p class="browserInfo">Supported since version <var>x</var></p>
                    </div>
                    <div class="tabContent hide" id="safari">
                    	<p class="browserInfo">Supported since version <var>x</var></p>
                    </div>
                    <div class="tabContent hide" id="internetExplorer">
                    	<p class="browserInfo">Supported since version <var>x</var></p>
                    </div>
                    <div class="tabContent hide" id="opera">
                    	<p class="browserInfo">Supported since version <var>x</var></p>
                    </div>
                </div>
            </section>
            <section id="examples" class="section">
                <div class="secHead">
                    Examples
                </div>
                <div class="secBody">
                    <!-- Place the code and result in separate iframes -->
                    <div id="exCode">
                        <pre>
&lt;html&gt;
    &lt;head&gt;
        &lt;title&gt;Input example&lt;/title&gt;
    &lt;/head&gt;
    &lt;body&gt;
        &lt;p&gt;A checkbox input!&lt;/p&gt;
        &lt;input type="checkbox" onclick="action()"&gt;
        
        &lt;p&lt;A password input!&lt;/p&gt;
        &lt;input type="password" onclick="action()"&gt;
        
        &lt;p&gt;You can also make an input of 
            type button, but using the &lt;button&gt; 
            tag is more common.
        &lt;/p&gt;
        &lt;input type="button" onclick="action()"
            value="click!"&gt;

    &lt;/body&gt;
&lt;/html&gt;
                        </pre>
                    </div>
                    
                    <div id="exResult">
                        <p>A checkbox input!</p>
                        <input type="checkbox" onclick="action()">
                        
                        <p>A password input!</p>
                        <input type="password" onclick="action()">
                        
                        <p>You can also make an input of type button, but using the &lt;button&gt;
                            tag is more common.
                        </p>
                        <input type="button" onclick="action()" value="click!">
                    </div>
                </div>
            </section>
            <section id="relatedTags" class="section">
                <div class="secHead">
                    Related Tags
                </div>
                <div class="secBody">
                    <a href="#">&lt;button&gt;</a>, <a href="#">&lt;form&gt;</a>, 
                    <a href="#">&lt;label&gt;</a>
                </div>
            </section>
        </main>
        <footer>
        </footer>
    </body>
</html>