/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0b1 | 201101 
   NOTE: WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define visible focus styles! 
:focus {
	outline: ?????;
} */

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Done with css resets lets get started*/
body {
	/* The rest sizes should be relative!!!*/
	font-size: 16px; 
	font-family: Arial, Helvetica, sans-serif;
	color: #575c7a;
    line-height: 1.5em;
}
h1 { font-size: 2em; font-weight: normal; }
h2 { font-size: 1.7em; margin: 0em 0em 1em 0em; }
h3 { font-size: 1.5em; margin: 0em 0em 1em 0em; }

p { margin: 0px 0px .75em 0px; }
a {  text-decoration: none;}
a:hover { color: #1ED495; }
.mainNav {
	margin-left: 8%;
}
.mainHeader {
	width: 100%;
}
.topNavWrapper {
	padding: 0px 0px;
	position: fixed;
	background-color: #28ABE3;
	top: 0;
	width: 100%;
}
.topNav {
	width: 100%;
	min-height: 50px;
	position: relative;	
}
.rightNav {
	float: right;
}
.rightNav li {
	float: left;
	color: white;
	position: relative;
	padding: 9px 30px 9px 0px;
	height: 30px;
}
.rightNav li input {
	display: inline-block;
	float: left;
	position: relative;
	height: 30px;
	padding: 6px 12px;
}
.hasInput {

}

.rightNav li a {
	color: white;
	margin-top: 5px;
  	display: inline-block;
}

.rightNav li a:hover {
	color: white;
}
.textLogo{
  font-size: 6em;
  font-family: monospace;
  margin-top: 30px;
  display: block;
  height: 50px;
}
.mainNavWrapper {
	width: 100%;
	padding: 0 30px;
}
.mainNav ul li {
	float: left;
	position: relative;
	
}
.mainNav ul li a {
	color: #fff;
	display: block;
	padding: 15px 35px;
}
.mainNav ul li a:hover {
 	border-top: solid 7px white;
  	padding-top: 8px;
}
.mainNav ul .active a {
	color:#000;
}
.clear {
	clear: both;
}

main {
	margin-top:100px;
	padding: 0 30px;
}
.logo {
	width: 5%;
	position: absolute;
	margin-left: 30px;
	margin-right: 20px;
	border: solid 2px #28ABE3;
}
.homectgs {
	width: 90%;
	margin: 0 auto;
}
.ctgs {
	width: 100%;
	margin: 0 auto;
	padding-left: 6%;
}
.ctgs li {
	width: 12%;
	height: 60px;
	background-color: #28ABE3;
	padding: 40px;
	text-align: center;
	display: inline-block;
	margin: 10px;
	color: white;
	vertical-align: middle;
}
.ctgs li a {
	color: #fff;
	font-size: 1.5em;
	line-height: 1.2em;
}
.ulwrapper{
	width: 90%;
	margin: 0 auto;
}

/* ----------- iPad 3 and 4 ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {

.mainNav ul li {
	clear: both;
	margin: 0 auto;
  	width: 60%;
}
.mainNav ul li a {
  padding: 10px 0 0 0;
  text-align: center;
  font-size: 2em;
  line-height: 1.5em;
}

.rightNav { 
	clear:both;
}

}


/* CSS for a tag info page */

.clear {
	clear: both;
}

/* CSS for a tag info page */

#tagBody {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}

#tagName {
    text-align: center;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600;
    color: black;
    margin: .67em;
    display: block;
    clear: both;
}

.section {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-color: #bce8f1;
    border-radius: 4px;
    
}

#examples {
    overflow: hidden;  /* Why does this work? */
}

.secHead {
    padding: 10px 15px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    display: block;
    color: #31708f;
    background-color: #d9edf7;
    font-size: 16px;
    color: #31708f;
}

.secBody {
    padding: 15px;
    
}





/* CSS for tab styling */
ul#tabs {
	list-style-type: none;	
}

ul#tabs li {
	display: inline;
}

/* tabs for 'compatible browsers' section */
#compatBrowsers a {
    position: relative;
    padding: 10px 15px;
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    display: inline-block;
}


ul#tabs li a:hover {
	background-color: #f1f0ee;
}

ul#tabs li a.selected {
	color: #000;
	border-top: 1px;
	border-left: 1px;
	border-bottom: 0;
	border-right: 1px;
	border-color: #ddd;
	border-style: solid;
}

#compatBrowsers #tabs {
    border-bottom: 1px solid #ddd;
}

div.tabContent {
	margin-top: 10px;
}

div.tabContent.hide {
	display: none;
}

.browserInfo {
    text-align: center;
    margin-bottom: 10px;
}


/* tag info page - examples section */
#exFrames {
    display: inline;
}

#exCode {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 48%;
    float: left;
}

#exResult {
    border: 1px solid #ccc;
    width: 48%;
    float: right;
    padding: 15px 10px;
    border-radius: 4px;
}

/* make sure we're clear after the floating examples */
#relatedTags {
    clear: both;
}

/* Styling related to accordion list for attributes on tag info page */
.attr {
    width: 100%;
}